<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--top">
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <button class="home__header--bars">
                <i class="fas fa-bars fa-lg"></i>
            </button>
        </div>
        <nav class="home__header--menu">
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
<div class="home__box">
    <main class="home__main">
        <article class="home__main__article">
            <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>

        </article>
        <article class="home__main__article">
            <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
            <div class="home__main__article--description">
                <h4>Nombre del producto</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                <a href="">ver más</a>
            </div>
        </article>
    </main>
    <aside class="home__aside">
        <section class="home__aside__section">
            <h3>Tutoriales</h3>
            <article class="home__aside__section__article">
                <img src="/img/aside-01.jpg" alt="Imagen tutorial 1">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/img/aside-02.jpg" alt="Imagen tutorial 2">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/img/aside-03.jpg" alt="Imagen tutorial 3">
                <h5>Título del tutorial de reparación</h5>
            </article>
            <article class="home__aside__section__article">
                <img src="/img/aside-04.jpg" alt="Imagen tutorial 4">
                <h5>Título del tutorial de reparación</h5>
            </article>
        </section>
        <section class="home__aside__section">
            <h3>Publicidad</h3>
            <div class="home__aside__section--ads">
                <img src="/img/ad-01.jpg" alt="imagen publicidad 1">
                <img src="/img/ad-02.jpg" alt="imagen publicidad 2">
            </div>
        </section>
    </aside>
</div>
</body>

</html>